#search
{
	display: none;
	margin-bottom: 0;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

#search form
{
	margin: 0;
}

#search input
{
	color: #ccc;
	border-bottom: 1px solid #333;
}

#search input:focus
{
	box-shadow: none;
	border-bottom: 1px solid #00AE96;
}